img {
    width: 30%;
    filter: grayscale(1);
    margin: calc(10%/6);
    
    
}

#centerpic {
    filter:none; 
    
}


img:hover {
    filter: none; 
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #9a8c98;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 20px 0;
    font-family: 'Raleway Dots', cursive;
    font-weight: bolder;
    font-size: 2em;
}