main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5em;

}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
    

main img {
    width: 30%;
    filter: grayscale(1);
    /* margin: calc(10%/6); */
    transition: all 0.5s;    
    
}

#centerpic {
    filter:none; 
    
}

img:hover {
    
    filter: none; 
    transform: translateY(-0.5em);
    
    box-shadow: 0 1em 1em -0.5em #9a8c98;
    
}

nav {
    display: flex;
    
    flex:1;
    text-transform: uppercase;
    border-bottom: 2px solid #9a8c98;
    /* width: 30%; */
    /* margin-left: calc(10%/6); */
    /* padding: 20px 0; */
    font-family: 'Raleway Dots', cursive;
    font-weight: bolder;
    font-size: 1.7em;
}